@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
header{
    background-color: beige;
    color: green;
    text-align: center;
}
body{
    background-color: beige;

}
img{
    width: 400px;
}
.botao{
    font-family: "PT Serif", sans-serif;
    background-color: rgb(100, 60, 32);
    color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    border-bottom: 4px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    border-top: none;
    
}
.botoes{
    display: block;
}
@media screen and (min-width: 768px){
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-of-type {
        border-radius: 0 40px 0 0;
        }
     
}
.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;}